* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
}
nav {
  background-color: white;
  z-index: 999;
  position: fixed;
  justify-content: space-between;
  display: flex;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-inline: 4rem;
  cursor: pointer;
  padding-bottom: 3px;
}
.center {
  align-items: center;
  display: flex;
  gap: 50px;
}
.right {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 20px 10px;
  border-radius: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.right:hover {
  background-color: #b9ff66;
  color: rgb(0, 0, 0);
}

.left {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 900;
}

.hero {
  height: 93%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.left-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.right-content {
  height: 100%;
  width: 50%;
  margin-top: 0px;
}
.text {
  margin-top: 100px;
  padding-left: 50px;
  font-size: 30px;
}
.p {
  margin-top: 20px;
  padding-left: 50px;
  font-size: 20px;
  font-weight: 900;
}
.btn {
  margin-top: 20px;
  margin-bottom: 70px;
  padding-left: 50px;
}
.btn-btn {
  padding: 7px 30px;
  border-radius: 20px;
  background-color: #b9ff66;
  color: rgb(0, 0, 0);
  border: 1px solid black;

  transition: all 0.2s linear;
  cursor: pointer;
}
.btn-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.693);
}

.image {
  padding: 30px;
  margin-top: 20px;
}

.section2 {
  min-height: 100vh;
  width: 100%;

  padding: 0px 20px;
}
.section2 .chocolate {
  padding-top: 20px;
  font-size: 20px;

  height: 200px;
  display: flex;
  justify-content: space-around;
}

.services {
  height: 100px;
  width: 100%;
}

.raper {
  padding-left: 55px;
  display: flex;
  gap: 50px;
}
.raper > button {
  padding: 0px 40px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  background-color: #b9ff66;
  cursor: pointer;
}
.raper > p {
  font-size: 20px;
  font-weight: 500;
}

.card {
  height: 400px;
  width: 100%;

  display: flex;
  gap: 40px;
  align-items: center;
}

.card-1 {
  border: 3px solid black;
  height: 300px;
  width: 50%;
  background-color: white;
  border-radius: 40px;
  display: inline-flex;
  position: relative;
}
.card-2 {
  border: 3px solid black;
  display: inline-flex;
  height: 300px;
  width: 50%;
  background-color: #b9ff66;
  border-radius: 40px;
  position: relative;
}

.right-text {
  padding: 30px 60px;
}
.right-text > h4 {
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
}
.card-1 > img {
  height: 200px;
  width: 100%;
}
.imgage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-text {
  padding: 30px 60px;
}

.left-text > h4 {
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;

  font-size: 20px;
  font-weight: 500;
}

.card-2 > img {
  height: 200px;
  width: 100%;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-3 {
  background-color: black;
  color: white;
}
.card-4 {
  background-color: white;
}
.card-5 {
  background-color: #b9ff66;
  color: rgb(0, 0, 0);
}

.card-6 {
  background-color: black;
  color: white;
}

.section-3 {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  width: 100%;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  width: 50%;
  height: 100%;
}

.smile-img {
  width: 50%;
  height: 100%;
}
.get-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.get-btn > button {
  padding: 17px 100px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.smile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4 {
  min-height: 100vh;
  width: 100%;
}

.section-raper {
  padding: 150px 20px;
}
.case-studies {
  display: flex;
  gap: 2rem;
}
.case-btn {
  font-size: 30px;
  padding: 0px 20px;
  background-color: #b9ff66;
  border: none;
  border-radius: 10px;
}
.case-studies > p {
  font-size: 25px;
  font-weight: 700;
}

.black-card {
  width: 100%;

  height: 270px;
  margin-top: 4rem;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.black-card .cards {
  height: 270px;
  width: 400px;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 60px;
}

.cards h6 {
  margin-top: 10px;
  font-size: 19px;
  color: #b9ff66;
}

.section-5 {
  min-height: 100vh;
  width: 100%;
}

.working {
  padding: 20px;
}
.process {
  padding-top: 180px;
  display: flex;
  gap: 50px;
  align-items: center;
  padding-bottom: 60px;
}

.process h1 {
  background-color: #b9ff66;
  border-radius: 10px;
  border: none;
  padding: 1px 10px;
}
.process p {
  font-size: 25px;
  font-weight: 500;
}

.detail-card {
  border-radius: 50px;
  width: 100%;
  height: 170px;
  background-color: #f3f3f3;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-bottom: 10px solid black;
}
.number {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}

.plus-raper {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.pluss {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.section-6 {
  height: 155vh;
  width: 100%;

  padding-top: 50px;
}

.tea {
  width: 100%;
  height: 200px;
  padding: 70px 30px;
}
.flex {
  display: flex;
  gap: 30px;
  padding: 0px 17px;
}
.teaf-tag {
  font: bolder;
  font-weight: 500;
  font-size: 29px;
  padding: 2px 20px;
  display: flex;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: #b9ff66;
}

.card-in {
  height: 400px;
  width: 100%;
}
.main-raper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;

  padding: 20px;
}
.in-card {
  margin-top: 50px;
  border-bottom: 8px solid black !important;
  height: 100%;
  border: 2px solid black;
  width: 400px;

  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-card {
  height: 250px;
  width: 250px;
}
.personal {
  padding: 15px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1.9px solid black;
}
.info {
  padding: 7px 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.section-7 {
  height: 40vh;
  width: 100%;
}
.min-raper {
  height: 100%;
  width: 100%;
}
.See-all {
  display: flex;
  align-items: right;
  justify-content: right;
  padding: 30px 25px;
}

.See-all button {
  padding: 25px 40px;
  font-size: 15px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.See-all button:hover {
  background-color: #b9ff66;
  color: black;
  border: 1px solid black;
}
.Testimonials {
  display: flex;
  gap: 40px;
  padding: 2px 40px;
}
.Testimonials > h1 {
  background-color: #b9ff66;
  border-radius: 10px;
  padding: 2px 7px;
}
.section-8 {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.scroller {
  border-radius: 50px;
  height: 100%;
  width: 100%;
  background-color: black;
}

.first {
  height: 70%;
  width: 100%;

  display: flex;
  padding: 0px 20px;
  justify-content: space-evenly;
  align-items: center;
}
.first-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 300px;
  width: 400px;
  color: white;
  border: 2px solid rgb(0, 255, 30);
  padding: 5px 15px;
}
.second {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  font-size: 50px;
  padding-left: 50px;
  color: white;
}
.dots {
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots .circle {
  display: flex;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}
.section-9{
  height: 100vh;
  width: 100%;

}

.full-area{
  height: 100%;
  width: 100%;
  padding: 10px 20px;
 
}

.contact-us{
  display: flex;
  gap: 30px;
  padding-top: 110px;
  align-items: center;
  
}

.contact-us>h1{
  background-color: #b9ff66;
  border: none;
  border-radius: 10px;
  padding: 2px 10px;
}

.gray-area{
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  
  margin-top: 100px;
  border-radius: 50px;
  display: flex;
}

.form{
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}
.say{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}



.form-area input{
    padding: 3vh 12vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
  
}

.form-area h6{
  margin-top: 10px;
}

.form>button{
  margin-top: 20px;
  padding: 3vh 17vw;
  border: none;
  border-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.section-10{
  width: 100%;
  height: 60vh;
    padding-top: 300px;
  background-color: red;
}
.About-us-page{
  height: 100vh;
  width: 100%;
  background-color: gray;

}