*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}
nav{
    justify-content: space-between;
    display: flex;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-inline: 4rem ;
    cursor: pointer;
    padding-bottom: 3px;
    
}
.center{
    align-items: center;
    display: flex;
    gap: 50px;
}
.right{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    border-radius: 20px;
    transition:all 0.2s linear;
    cursor: pointer;
   
}
.right:hover{
    background-color: black;
    color: white;
}

.left{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 900;
}

.hero{
    height: 93%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    
}
.left-content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.right-content{
    height: 100%;
    width: 50%;
    margin-top: 0px;
}
.text{
    margin-top: 100px;
    padding-left: 50px;
    font-size: 30px;
}
.p{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 900;
}
.btn{
    margin-bottom: 70px;
    padding-left: 50px;
}
button{
    padding:7px 30px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    transition: all 0.2s linear;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.693);
}

 .image{
    padding: 30px;
    margin-top: 20px;
}