*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}
nav{
    justify-content: space-between;
    display: flex;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-inline: 4rem ;
    cursor: pointer;
    padding-bottom: 3px;
    
}
.center{
    align-items: center;
    display: flex;
    gap: 50px;
}
.right{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    border-radius: 20px;
   
}

.left{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 900;
}